<nav class="menu" id="sidebar-menu">
  <h3>Overview</h3>
  <ul>
    <li><a href="{{ site.github.url | default: site.url }}/v2/installation/">Installation &amp; Usage</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v2/defining-entities/">Defining Entities</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v2/entity-manager/">EntityManager</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v2/repositories/">EntityRepository</a></li>
  </ul>
  <h3>Fundamentals</h3>
  <ul>
    <li><a href="{{ site.github.url | default: site.url }}/v2/identity-map/">Identity Map and Request Context</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v2/entity-references/">Entity References and Reference&lt;T&gt; Wrapper</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v2/entity-constructors/">Using Entity Constructors</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v2/collections/">Collections</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v2/unit-of-work/">Unit of Work</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v2/transactions/">Transactions</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v2/cascading/">Cascading persist and remove</a></li>
  </ul>
  <h3>Advanced Features</h3>
  <ul>
    <li><a href="{{ site.github.url | default: site.url }}/v2/nested-populate/">Smart Nested Populate</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v2/query-conditions/">Smart Query Conditions</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v2/query-builder/">Using QueryBuilder</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v2/serializing/">Serializing</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v2/entity-helper/">Updating Entity Values</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v2/property-validation/">Property Validation</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v2/lifecycle-hooks/">Lifecycle Hooks</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v2/naming-strategy/">Naming Strategy</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v2/metadata-cache/">Metadata Cache</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v2/debugging/">Debugging</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v2/schema-generator/">Schema Generator</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v2/entity-generator/">Entity Generator</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v2/read-connections/">Read Replica Connections</a></li>
  </ul>
  <h3>Usage with Different Drivers</h3>
  <ul>
    <li><a href="{{ site.github.url | default: site.url }}/v2/usage-with-sql/">Usage with SQL Drivers</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v2/usage-with-mongo/">Usage with MongoDB</a></li>
  </ul>
  <h3>Recipes</h3>
  <ul>
    <li><a href="{{ site.github.url | default: site.url }}/v2/usage-with-nestjs/">Usage with NestJS</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v2/usage-with-js/">Usage with Vanilla JS</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v2/custom-driver/">Creating Custom Driver</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v2/multiple-schemas/">Using Multiple Schemas</a></li>
  </ul>
  <h3>Example Integrations</h3>
  <ul>
    <li><a href="https://github.com/mikro-orm/mikro-orm-examples/tree/master/express-ts">Express + MongoDB + TypeScript</a></li>
    <li><a href="https://github.com/mikro-orm/mikro-orm-examples/tree/master/nest">Nest + MySQL + TypeScript</a></li>
    <li><a href="https://github.com/mikro-orm/mikro-orm-examples/tree/master/express-js">Express + MongoDB + JavaScript</a></li>
  </ul>

  <p class="repo-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="https://github.com/B4nan">B4nan</a>.</p>
</nav>
