<nav class="menu" id="sidebar-menu">
  <h3>Overview</h3>
  <ul>
    <li><a href="{{ site.github.url | default: site.url }}/v3/installation/">Installation &amp; Usage</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v3/defining-entities/">Defining Entities</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v3/entity-manager/">EntityManager</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v3/repositories/">EntityRepository</a></li>
  </ul>
  <h3>Fundamentals</h3>
  <ul>
    <li><a href="{{ site.github.url | default: site.url }}/v3/identity-map/">Identity Map and Request Context</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v3/entity-references/">Entity References and Reference&lt;T&gt; Wrapper</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v3/entity-constructors/">Using Entity Constructors</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v3/collections/">Collections</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v3/unit-of-work/">Unit of Work</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v3/transactions/">Transactions</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v3/cascading/">Cascading persist and remove</a></li>
  </ul>
  <h3>Advanced Features</h3>
  <ul>
    <li><a href="{{ site.github.url | default: site.url }}/v3/nested-populate/">Smart Nested Populate</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v3/query-conditions/">Smart Query Conditions</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v3/query-builder/">Using QueryBuilder</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v3/serializing/">Serializing</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v3/entity-helper/">Updating Entity Values</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v3/property-validation/">Property Validation</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v3/lifecycle-hooks/">Lifecycle Hooks</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v3/naming-strategy/">Naming Strategy</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v3/metadata-cache/">Metadata Cache</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v3/debugging/">Debugging</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v3/schema-generator/">Schema Generator</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v3/entity-generator/">Entity Generator</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v3/read-connections/">Read Replica Connections</a></li>
  </ul>
  <h3>Usage with Different Drivers</h3>
  <ul>
    <li><a href="{{ site.github.url | default: site.url }}/v3/usage-with-sql/">Usage with SQL Drivers</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v3/usage-with-mongo/">Usage with MongoDB</a></li>
  </ul>
  <h3>Recipes</h3>
  <ul>
    <li><a href="{{ site.github.url | default: site.url }}/v3/usage-with-nestjs/">Usage with NestJS</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v3/usage-with-js/">Usage with Vanilla JS</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v3/custom-driver/">Creating Custom Driver</a></li>
    <li><a href="{{ site.github.url | default: site.url }}/v3/multiple-schemas/">Using Multiple Schemas</a></li>
  </ul>
  <h3>Example Integrations</h3>
  <ul>
    <li><a href="https://github.com/mikro-orm/mikro-orm-examples/tree/master/express-ts">Express + MongoDB + TypeScript</a></li>
    <li><a href="https://github.com/mikro-orm/mikro-orm-examples/tree/master/nest">Nest + MySQL + TypeScript</a></li>
    <li><a href="https://github.com/mikro-orm/mikro-orm-examples/tree/master/express-js">Express + MongoDB + JavaScript</a></li>
  </ul>

  <p class="repo-owner"><a href="https://github.com/mikro-orm/mikro-orm">mikro-orm</a> is maintained by <a href="https://github.com/B4nan">B4nan</a>.</p>
</nav>
